body{
   background-color: rgb(16, 16, 110);
   
}

.container{
    width:900px;
   height:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 20px;
}

.conte_padre{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    width: 100%;
   
}


